.cal-culator {
  background-color: #fffacd;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cal-culator h1 {
  text-align: center;
}
input {
  width: 200px;
  height: 30px;
  background-color: rgb(168, 224, 241);
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid rgb(150, 88, 129);
  margin-left: 20px;
  outline: none;
  font-size: medium;
}
button {
  width: 120px;
  height: 30px;
  margin-top: 10px;
  margin-left: 20px;
  /* padding: 3px 20px; */
  border-radius: 5px;
  background-color: snow;
  outline: none;
  border: none;
  background-color: rgb(61, 124, 93);
}

.result {
  background-color: teal;
  width: 30%;
  margin: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
