/* div {
  background-color: rgb(238, 232, 224);
  border-radius: 20px;
  width: 80%;
  margin-left: 20%;
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  -ms-flex-align: start;
} */
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-color: aliceblue;
}
/* 
h1 {
  background-color: rgb(117, 208, 211);
  align-self: center;
  width: 80%;
  margin-left: 10%;
  box-shadow: 10px 20px 30px rgb(23, 101, 190);
  border-radius: 10px;
}
button {
  background-color: rgb(57, 228, 240);
  padding: 10px 40px;
  outline: orchid;
  border-radius: 10px;
  border: 2px solid black;

  box-shadow: 10px 20px 40px rgb(22, 41, 39);
}

input {
  outline: none;
  background-color: rgb(117, 208, 211);
  width: 240px;
  height: 24px;
  border: 4px solid rgb(117, 208, 211);
} */
